.pagination-container{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.pagination-container button{
    background: none;
    border: none;
    padding: 0;
}

.pagination-container span {
    background-color: #373737;
    color: #fff;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.pagination-container p {
    font-weight: 700;
}