.info-container {
  position: relative;
  display: flex;
}

.info-container img {
  width: 80px;
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-height: 85px;
}

.info-container p {
  text-align: center;
  font-size: 13.5px;
}

.info-container a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 27px;
  font-size: 11.5px;
  color: #8e8e8e;
  text-decoration: underline;
  cursor: pointer;
}


span.info-id {
  margin-top: 80px;
  text-align: center;
  font-size: 13px;
  margin-top: 80px;
  text-align: center;
  font-weight: 700;
  color: #8e8e8e;
}

p.info-name {
  margin-top: 12px;
  color: hsl(223deg 26% 28%);
  font-size: 18px;
  font-weight: 800;
}

.info-types {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-bottom: 20px;
}

.info-types p {
  color: #fff;
  border-radius: 5px;
  padding: 8px 15px;
  font-weight: 700;
}

.info-bottom {
  align-self: end;
  margin: 0 auto;
}

.info-condition {
  display: flex;
  justify-content: space-around;
}

.detail-types p {
  font-size: 18px;
  padding: 8px 14px;
  border-radius: 5px;
}

.type-grass {
  background-color: hsl(122deg 100% 68%);
}

.type-poison {
  background-color: hsl(273deg 74% 58%);
}

.type-fire {
  background-color: #ffa124;
}

.type-flying {
  background-color: #3aacff;
}

.type-water {
  background-color: #0c5bff;
}

.type-bug {
  background-color: #7f7f7f;
}

.type-normal {
  background-color: #f577ae;
}

.type-rock {
  background-color: #a5a5a5;
}

.type-psychic {
  background-color: #8f28ae;
}

.type-electric {
  background-color: #b7ce06;
}

.type-steel {
  background-color: #424740;
}

.type-ice {
  background-color: #20dbde;
}

.type-ground {
  background-color: #e1a715;
}

.type-default {
  background-color: #5c2f98;
}
