.detail-container {
  padding: 20px 15px;
  padding-bottom: 40px;
}

.detail-infoPrincipal {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.detail-infoPrincipal img {
  width: 82%;
  max-width: 374px;
}

.detail-id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}

.detail-types {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.detail-types p {
  border: 1px solid black;
}

.detail-abilities {
  margin-top: 50px;
}

.detail-abilities h2 {
  text-align: center;
}

.detail-infoAbilities {
  padding: 20px;
  background-color: #fff;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.detail-condition {
  margin-top: 15px;
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.detail-infoCondition {
  display: flex;
  justify-content: space-around;
}

.detail-infoExp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-stats {
  margin-top: 30px;
}

.detail-stats h2 {
  text-align: center;
}

.detail-infoStats {
  background-color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
