.body-container .pagination-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.grid-container {
  margin: 0 auto;
  max-width: 95%;
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  column-gap: 30px;
  row-gap: 50px;
  height: 100%;
  margin-top: 30px;
  padding-bottom: 38px;
}
