.navbar-container {
  width: 100%;
  background-color: #fff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 6px 10px -2px rgb(0 0 0 / 10%);
}

.navbar-container a {
  font-size: 22px;
  font-weight: 800;
  color: #353f5a;
  text-decoration: none;
  border-radius: 1px;
}
